<h2 mat-dialog-title class="title">Please enter email</h2>
<div mat-dialog-content *ngIf="!loading">
  <form [formGroup]="authForm" class="main-content">
   
    <mat-form-field>
      <mat-label>Email address</mat-label>
      <input formControlName="email" [(ngModel)]="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors,
      'is-valid': submitted && !f.email.errors}" matInput placeholder="Old password">
      <mat-error *ngIf="submitted && f.oldPassword.errors">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div class="actions" *ngIf="!loading">
  <button mat-raised-button (click)="close()">Back</button>
  <button mat-raised-button color="accent"
    (click)="share()">share</button>
</div>

<div *ngIf="isSent && !loading">
  Shared!
</div>

<div  class="mat-spinner-wrapper position-relative">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>
